@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

body {
  color: #47525E;
  font-family: 'Lato', sans-serif;
}

.ll-container {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height:100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EDEDED;
}

.h400 {
  height: 400px;
}

.ll-bg {
  background-color: #EDEDED;
}