.item-title {
  color: #969FAA;
  font-family: Roboto;
  font-size: 18px;
  line-height: 23px;
  width: 100%;
  text-align: left;
}

.item-content {
  font-family: Roboto;
  font-size: 20px;
  line-height: 33px;
  width: 100%;
  text-align: left;
}