@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #47525E;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
